<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
    		<td class="Signalement">
				<h2 class="signalement">Signalements</h2>
				
				<% if !current_user.admin? %>
					Modifier signalement 
				<% elsif @signalement.validation == 0 %>
					Valider signalement
				<% end %>
				<%= render "shared/signalement_form_upd" %></br>
				<%= render 'shared/feed_signalement' %> </br> 
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
