<%= form_for current_user.reverse_friendships.find_by_sender_id(@user), :html => { :method => :patch } do |f| %>
	<div class="actions" , style="float: left;">
		<%= f.submit "Accepter" , :class => 'buttons' %>
	</div> 
<% end %>
<div style="float: left;"> /
</div>
<%= form_for current_user.reverse_friendships.find_by_sender_id(@user), :html => { :method => :delete } do |f| %>
	<div class="actions">
		<%= f.submit "Refuser", :class => 'buttons' %>
	</div>
<% end %>
