<%= form_for current_user.friendships.find_by_receiver_id(@user),
             :html => { :method => :patch } do |f| %>
	<div class="actions"><%= f.submit "Inviter Again", :class => 'round' %>
	</div>
<% end %>