<% unless current_user?(@user) %>
	<div id="friend_form">
		<% if current_user.invitation?(@user) %>
			<% $status = 1 %>
			<%= render 'break' %>
		<% else %>
			<% if current_user.friends?(@user) %>
				<% if @user.status(@user,current_user) == 1 %>
					<% $status = 2 %>
					<%= render 'broken' %>
				<% else %>
					<% $status = 0 %>
					<%= render 'accept' %>
				<% end %>
			<% else %>
				<%= render 'friends' %>
			<% end %>
		<% end %>
	</div>
<% end %>