<li>
	<%= gravatar_pour user, :size => 20 %>
	<% if user.pro? %>
		<% user.nom = user.nom + " | Pro" %>
	<% end %>
	<nomuser><%= link_to user.nom, user %></nomuser>
	<% if current_user.admin? && !(current_user.id == user.id) %>
		<%= button_to "Supprimer", user, {:onclick => "return confirm('Are you sure to delete user #{user.nom} ?')", :method => :delete, :class => 'buttons',:style => "float:right; margin: -19px; "}  %>
	<% end %>
</li>