 <li>
  <%= gravatar_pour user, :size => 30 %>
  <%= link_to user.nom, user %>
  <% if current_user.admin? %>
  | <%= button_to "Supprimer", user, {:onclick => "return confirm('Are you sure to delete this user ?')", :method => :delete}
                       %>
  <% end %>
</li>