<% unless @feed_item_evenmts.empty? %>
	<table class="evenements" summary="User evenements">
		<%= render :partial => 'shared/feed_item_evenmt', :collection => @feed_item_evenmts %>
	</table>
	<%= will_paginate @feed_item_evenmts %>
<% end %>



