<% if  !(@feed_items.to_s.length == 0) %>
	<table class="microposts" summary="User microposts">
		<%= render :partial => 'shared/feed_item', :collection => @feed_items %>
	</table>
	<br><%= will_paginate @feed_items %></br>
<% end %>