<tr>
  
  <td class="micropost">
    
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Poste il y a <%= time_ago_in_words(feed_item.created_at) %>.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= button_to "Supprimer", feed_item, {:onclick => "return confirm('Are you sure to delete this message ?')", :method => :delete, :class => 'slidebar round'}
%>
  </td>
  <% end %>
</tr>