<table class="content" summary="User temoignages">
	<% if $user_pro %>
		<h1>
			<%= $nom %> | Pro
		</h1>
	<% else %>
		<h1>
			<%= $nom %> 
		</h1>
	<% end %>
	<% if !@feed_item_temoignages.nil? %>
		<%= render :partial => 'shared/feed_item_temoignage', :collection => @feed_item_temoignages %>
		<%= will_paginate @feed_item_temoignages %>
	<% else %>
		<%# = redirect_to edituser_path %>
	<% end %>
</table>