<table class="temoignages" summary="User temoignages">
	<h2>
		<%= $nom %>
	</h2>
	<%= render :partial => 'shared/feed_item_temoignage', :collection => @feed_item_temoignages %>
</table>
<%= will_paginate @feed_item_temoignages %>
