<tr>
	<td class="gravatar">
		<%= gravatar_pour(feed_item_reponse.user, :size => 30) %>
	</td>
	<td class="reponse">
		<% $feed_item_reponse = feed_item_reponse %>
		<span class="content">
			<%= feed_item_reponse.reponse %> </br>
			<%#= feed_item_reponse.user.nom %>
			<% $feed_item_reponse = feed_item_reponse %>
			<% $feed_item_reponse_reponse = feed_item_reponse.reponse %>
			<% $feed_item_reponse_id = feed_item_reponse.id %>
			<% if (current_user.id == feed_item_reponse.user_id)%>
				<td>
					<div style="float:left;">
						<%= link_to "Modifier", edit_commentaire_reponse_path($comment_id, feed_item_reponse.id),  :action => :update, :class => 'buttons', :title => feed_item_reponse.reponse %>  
					</div>
					<div style="float:left;">
						/
					</div>
					<div style="float:left;">
						<%= button_to "Supprimer",[$comment, feed_item_reponse], {:onclick => "return confirm('Are you sure to delete this reponse ?')", method: :delete, :title => feed_item_reponse.reponse, :class => 'buttons'}%> 
					</div>
				</td>
		<% end %>
		</span>
	</td>
</tr>