<% if  !(@feed_item_signals.to_s.length == 0) %>
	<table class="signalement" summary="User signalments">
		<%= render :partial => 'shared/feed_item_signal', :collection => @feed_item_signals %>
	</table>
	<%= will_paginate @feed_item_signals %>
<% end %>



