<% if  !(@feed_item_evenmts.to_s.length == 0) %>
	<table class="evenements" summary="User evenements">
		<%= render :partial => 'shared/feed_item_evenmt', :collection => @feed_item_evenmts %>
	</table>
	<br><%= will_paginate @feed_item_evenmts %></br>
<% end %>



