<!DOCTYPE html>
<h2>A propos de nous</h2>
<p>
	Notre objectif c'est de  vous fournir un agenda complet des activités de danses des 5 rythmes, "Movement medecine" et "Openfloor". Ceci est une version beta test, nous serons heureux de recueillir toutes vos remarques et suggestions grâce au formulaire suivant <a href="/contact"><em>Nous contacter</em></a>.
</p>
  