<!DOCTYPE html>
<h2>Contact</h2>
<p>
	Merci de nous contacter avec ce formulaire :
	<p>Nom :
	<p>Prénom : 
	<p>Email :
	<p>Message :
</p>
<%= link_to "Envoyer", "http://www.neesyu.com" , :class => "buttons" %>


