<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" /><title>
	DIAMVALOR
</title><link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" /><link rel="stylesheet" href="diamvalor.css" type="text/css" media="all" /><link href="http://fonts.googleapis.com/css?family=Coda" rel="stylesheet" type="text/css" /><link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300" rel="stylesheet" type="text/css" />
	<script src="js/jquery-1.8.0.min.js"></script>
	<script src="js/jquery.touchwipe.1.1.1.js" type="text/javascript"></script>
	<script src="js/jquery.carouFredSel-5.5.0-packed.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="js/functions.js" type="text/javascript"></script>
    
</head>
<body id="top">
    <form method="post" action="./" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMjAxNTM4OTExNA9kFgJmD2QWAgIDD2QWAgIHDw8WAh4ISW1hZ2VVcmwFE2Nzcy9mbGFncy91c29mZi5naWZkZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WBAUSY3RsMDAkSW1hZ2VCdXR0b24xBRJjdGwwMCRJbWFnZUJ1dHRvbjIFGGN0bDAwJExvZ2luU3RhdHVzMSRjdGwwMQUYY3RsMDAkTG9naW5TdGF0dXMxJGN0bDAzlwDM3uPIZWO5d3isn8K79GOqykb3QkdpDMNDOZ5yQaY=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAASIEQF3R8rRSTuJTU8YWVLJD4zZrxX92uOlyIx1SyGTQiueDLEPWeU4qWuAtwlPZSPKGUcM3blpwEw1ynmnEpiu9LUKhlpoRI2JtUjSgCTlqfQ1DAYt/QGStKrd4fMRCC0=" />
</div>
    <!-- wrapper -->
	<div class="wrapper">
		<!-- header -->
		<header class="header">
			<div class="shell">
				<div class="header-top">
					<h1 id="logo"><a href="default.aspx">DIAMVALOR</a></h1>
					<nav id="navigation">
						<a href="default.aspx" class="nav-btn">Accueil<span></span></a>
						<ul>
							<li ><a href="../../societe.aspx" ">Notre société</a></li>
							<li ><a href="../../diamants.aspx" ">Les Diamants</a></li>
                            <li ><a href="../../investir.aspx" ">Investir</a></li>
							<li ><a href="../../contact.aspx">Contact</a></li>
							<li><a href="#plan">Plan du site</a></li>
                            
						</ul>
                        <div class="alignright">
                        <input type="image" name="ctl00$ImageButton1" id="ImageButton1" src="css/flags/fr.gif" />
                        <input type="image" name="ctl00$ImageButton2" id="ImageButton2" src="css/flags/usoff.gif" />
                       
                          
                        </div>
    </asp:Menu>
					</nav>
					<div class="cl">&nbsp;</div>
                    
				</div>
               
				
    
<script type="text/javascript">
  
        var refreshIntervalId = setInterval(function() {
          $("#carousel").trigger("next");
    }, 12000);
     




function func1() {
    $("#carousel").trigger("slideTo",0);
}


$(document).ready(function() {
	$("#carousel").carouFredSel({
		auto: false
	});
    $("#carousel").trigger("slideTo",0);
});






</script>

<div class="slider">
					<div id="bg"></div>
					<div id="carousel">
						

						<div id="s1" >
                            <h5>Investir avec</h5>
							<h3>DIAMVALOR</h3>
							<p>
								<span class="yellow">Une garantie des prix : </span> des tarifs très bien positionnés.<br />
								<span class="yellow">Une flexibilité : </span> possibilité d'échange pour une valeur supérieure.<br />
								<span class="yellow">Une sécurité : </span> certification assurée, livraisons en toute discrétion.
							</p>
							<a href="societe.aspx#notre_societe" class="green-btn">
                                En savoir plus</a>
							<img class="img-front" src="css/images/3diam1.png" alt="dot1" width="230" height="363" />
							<img class="img-mid" src="css/images/fdiam.png" alt="dot2" width="230" height="363" />
							<img class="img-back" src="css/images/3diam3.png" alt="dot3" width="230" height="363" />
						</div>
						
						<div id="s2">
							<h5>Un investissement incontournable</h5>
							<h3>Le Diamant</h3>
							<p>Etant la pierre précieuse naturelle la plus inaltérable, le diamant est quasiment indestructible et a une durée de vie qui se compte en millions d'années. Il perdurera de génération en génération.</p>
                            
							<a href="diamants.aspx#valeur_refuge" class="green-btn">En savoir plus</a>
							<img class="img-front" src="css/images/none.png" alt="dot1" width="230" height="363" />
							<img class="img-mid" src="css/images/med_diam2.png" alt="dot1" width="230" height="363" />
							<img class="img-back" src="css/images/none.png" alt="dot1" width="230" height="363" />
						</div>
						
						<div id="s3">
							<h5>Le Diamant présente plusieurs avantages </h5>
							<h3>Investir</h3>
							<p>								
								Investissement financier pérenne à moyen et long terme<br />
								Investissement simple à l'encombrement très réduit<br />
								Transmission patrimoniale simplifiée (succession, donation)<br />
								Protection supplémentaire pour la famille
								
							</p>
                            
							<a href="investir.aspx#investir" class="green-btn">En savoir plus</a>
							<img class="img-front" src="css/images/idiam1.png" alt="dot1" width="230" height="363" />
							<img class="img-mid" src="css/images/idiam2.png" alt="dot2" width="230" height="363" />
							<img class="img-back" src="css/images/idiam3.png" alt="dot3" width="230" height="363" />
						</div>

						<div id="s4">
							<h5>Besoin d'une information ?</h5>
							<h3>Contact</h3>
							<p>Nous sommes à votre écoute. N'hésitez pas à nous solliciter.
							<br/>
							Nous ne manquerons pas de vous répondre dans les meilleurs délais.
							</p>
                            
							<a href="contact.aspx#contact" class="green-btn">Nous contacter</a>
							<img class="img-front" src="css/images/loupe.png" alt="dot1" width="263" height="436" />
							<img class="img-mid" src="css/images/diamfall_zoom.png" alt="dot2" width="400" height="359" />
							<img class="img-back" src="css/images/diamfall.png" alt="dot3" width="400" height="359" />
						</div>

					</div>
					<div class="pagination"></div>
					<a id="prev" href="#"></a>
					<a id="next" href="#"></a>
				</div>

				
			</div>
           
		</header>
		<!-- end of header -->


    <div class="shell">
			<!-- main -->
			<div class="main">
        
        
        
        <br /><br />
    </div>
     </div>
    </div>
<div id="footer">
			
            
            <!-- shell -->
			<div class="shell" id="plan">
				<!-- footer-cols -->
				<div class="footer-cols">
					
                    <div class="col">
						<h2>Notre société</h2>
						<ul>
							<li><a href="../../societe.aspx#notre_societe">Qui sommes nous</a></li>
							<li><a href="../../societe.aspx#notre_savoir_faire">Notre savoir faire</a></li>
							<li><a href="../../societe.aspx#nos_partenaires">Nos partenaires</a></li>
							<li><a href="../../societe.aspx#nous_rejoindre">Nous rejoindre</a></li>
							
						</ul>
					</div>

					<div class="col">
						<h2>Les Diamants</h2>
						<ul>
							<li><a href="../../diamants.aspx#valeur_refuge">Valeur refuge</a></li>
							<li><a href="../../diamants.aspx#origine">Origine</a></li>
		
							
						</ul>
                        <h2>Investir</h2>
						<ul>
							<li><a href="../../investir.aspx#investir">Investir</a></li>
							<li><a href="../../investir.aspx#fiscalite">Fiscalité</a></li>
							<li><a href="../../investir.aspx#avantages">Avantages</a></li>
							
						</ul>
					</div>

                    

					<div class="col">
						<h2>Médias</h2>
						<ul>
							<li><a href="../../actualites.aspx">Actualités</a></li>
                            <li><a href="../../actualites.aspx#rpresse">Revue de presse</a></li>
                            <li><a href="https://www.facebook.com/pages/Diamvalor/168940953267018" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/Diamvalor_Actu" target="_blank">Twitter</a></li>
							
						</ul>
					</div>

					<div class="col">
						<h2>Contact</h2>

						<p>Email: <a href="mailto:infos@diamvalor.com">infos@diamvalor.com</a></p>
						<p>Téléphone : +33 01 45 00 61 54</p>
						<p>DIAMVALOR </p>
						<p>20, avenue Foch</p>
						<p>75116 Paris</p>
						
					</div>


					<div class="cl">&nbsp;</div>
				</div>
				<!-- end of footer-cols -->
				<div class="footer-bottom">
					<div class="footer-nav">
						<ul>
							<li><a href="#">
                                Accueil</a></li>
							<li><a href="../../mentions_legales.aspx">Mentions Légales</a></li>
							<li><a href="../../societe.aspx#recrutement">Recrutement</a></li>
							
							<li><a href="../../contact.aspx#contact">Rejoindre notre réseau</a></li>
							<li>
                                <a id="LoginStatus1" href="javascript:__doPostBack(&#39;ctl00$LoginStatus1$ctl02&#39;,&#39;&#39;)">Login</a>
                            </li>
                            <li><a href="../../contact.aspx#contact">Contact</a></li>
                            
						</ul>
					</div>
					<p class="copy">Copyright &copy; 2013</p>
					
                    <div class="cl">&nbsp;</div>
				</div>
			</div>
			<!-- end of shell -->
		</div>
    </form>
		<!-- footer -->
</div><!-- end of wrapper -->
</body>
</html>