<!DOCTYPE html>
<div style="color:#c00; font-family:comic sans serif;" >

<h2>Aide</h2>
	<p>
		Voici les actions courantes que vous pouvez faire sur le site :
		
		</p> Vous inscrire sur le site pour participer aux sorties, aux cours, suivre vos pros préférés. <a href="/signup"> <em>Je m'inscris </em></a>.
		</p> Vous êtes déjà inscrit sur le site et nous ne vous avons pas encore reconnu. <a href="/signin"> <em>Je m'identifie </em></a>.
		</p> Vous voulez consulter la liste des sorties amicales et professionnelles correspondant à vos passions et plaisirs. <a href="/evenements"> <em>Je trouve mon bonheur</em> </a>.
		</p> Vous voulez créer une sortie amicale pour partager vos passions et plaisirs .<a href="/newevenement"> <em>Je crée une sortie </em></a>.
		</p> Vous avez trouvé une sortie sympa ou un cours intéressant et vous voulez informer l'organisateur ou le pros que vous allez venir : allez sur la page d'accueil et cliquez sur le bouton "S'inscrire!". 
		</p> Vous aimez notre site parce que vous trouvez qu'il possède des fonctionnalités intéressantes ou alors vous détestez le site parce qu'il y a plein d'améliorations à ajouter, dans les deux cas : Nous sommes d'accord avec vous. Ecrivez-nous : <a href="/contact"> <em>Je contribue</em> </a>.
		</p>
	</p>
</div>