<!DOCTYPE html>
<div style="color:#c00;">
<h2>Neesyu</h2>
</div>

<p>
	Bienvenu sur l'agenda parisien des cours de danses des 5 rythmes, "Movement medecine" et "Openfloor".
</p>
<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %> 
<%#= logo1 = image_tag("logo1.png", :alt => "Test exemple", :class => "round") %>
<%#= link_to logo1, "http://www.mtc-bordeaux.fr "%>
 



