<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<td class="main">
				<h3 class="Evenements">Nouvel evenement</h3>
				<%= render 'shared/evenement_form' %>
				<%# = render 'shared/feed_evenement' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>